//
// HTML
//

// .page-html-overview

//   .page-header
//     background-image url("/resource/images/content/html.svg")
//     background-position 50% 4.5em
//     background-repeat no-repeat
//     background-size 160%
//     @media $b800
//       background-size auto

//   .page-header
//     h1
//       display none



//
// DOCUMENTS
//

// .page-documents-browser-support

//   .page-header
//     background-image url("/resource/images/content/browser.svg")
//     background-position 50% 4em
//     background-repeat no-repeat
//     background-size 90%
//     @media $b1200
//       background-size auto

//     h1
//       padding-left 1em
//       padding-right 1em
//       color #427d86
//       @media $b700
//         margin-top 3em
//         padding-left 0
//         padding-right 0
