article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
p,
pre,
ul,
ol,
dd,
hr,
legend,
button,
address,
table,
blockquote {
  margin-bottom: 1.5em;
}
body {
  background: #f5f5f5;
  padding-top: 50px;
}
li {
  list-style-position: inside;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
nav ul,
nav ol {
  margin-bottom: 0;
}
nav li {
  list-style: none;
}
nav dd {
  margin-top: 0.5em;
}
fieldset {
  border: none;
}
img {
  border: 0;
}
img,
object {
  vertical-align: bottom;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
pre code {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #ccc;
}
::-moz-selection {
  color: #fff;
  background: #4992ad;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #4992ad;
  text-shadow: none;
}
body {
  font-family: 'PT Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 90%;
  line-height: 1.6;
  font-weight: normal;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #222;
}
h1,
.h1 {
  font-weight: 700;
  font-size: 2.375em;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 1.6em;
}
h3,
.h3 {
  font-size: 1.4em;
}
h4,
.h4 {
  font-size: 1.2em;
}
h5,
.h5 {
  font-size: 1.1em;
}
h6,
.h6 {
  font-size: 1em;
}
a {
  color: #207ea9;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #222;
  text-decoration: underline;
}
a:active {
  color: #222;
}
blockquote,
q,
em,
cite,
dfn,
i,
cite,
var {
  font-style: italic;
}
th,
strong,
dt,
b {
  font-weight: bold;
}
legend {
  padding-bottom: 0.5em;
}
input,
select,
textarea {
  font-size: 1em;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
}
blockquote {
  font-size: 1.125em;
}
blockquote p {
  margin-bottom: 0;
}
ins {
  text-decoration: none;
  border-bottom: 3px double #333;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #dee154;
  color: #222;
  font-weight: bold;
}
pre,
code {
  font-family: 'Menlo', 'Monaco', monospace;
  color: #444;
}
abbr {
  border-bottom: 1px dotted #333;
  font-variant: normal;
}
small {
  font-size: 0.8em;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.page-split__left {
  bottom: 0;
  position: fixed;
  top: 50px;
  width: 200px;
  z-index: 1;
}
.page-split__flexi {
  margin-left: 200px;
  position: relative;
  z-index: 0;
}
.centering {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
  zoom: 1;
}
.centering:before,
.centering:after {
  content: "";
  display: table;
}
.centering:after {
  clear: both;
}
.media {
  margin: 10px;
}
.media,
.body {
  overflow: hidden;
}
.media .img {
  float: left;
  margin-right: 10px;
}
.media .img img {
  display: block;
}
body {
  position: relative;
  background-position: 0px 0px;
  background-repeat: repeat;
}
.row {
  clear: left;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.unit {
  float: left;
  margin-right: 2%;
}
.unit-1of1,
.unit-2of2,
.unit-3of3,
.unit-4of4,
.unit-5of5 {
  width: 100%;
}
.unit-1of2,
.unit-2of4 {
  width: 49%;
}
.row-no-gutter .unit-1of2,
.row-no-gutter .unit-2of4 {
  width: 50%;
  margin-right: 0;
}
.unit-1of3 {
  width: 32%;
}
.row-no-gutter .unit-1of3 {
  width: 33.3333%;
  margin-right: 0;
}
.unit-2of3 {
  width: 66%;
}
.row-no-gutter .unit-2of3 {
  width: 66.6666%;
  margin-right: 0;
}
.unit-1of4 {
  width: 23.5%;
}
.row-no-gutter .unit-1of4 {
  width: 25%;
  margin-right: 0;
}
.unit-3of4 {
  width: 74.5%;
}
.row-no-gutter .unit-3of4 {
  width: 75%;
  margin-right: 0;
}
.unit-1of5 {
  width: 18.4%;
}
.row-no-gutter .unit-1of5 {
  width: 20%;
  margin-right: 0;
}
.unit-2of5 {
  width: 38.8%;
}
.row-no-gutter .unit-2of5 {
  width: 40%;
  margin-right: 0;
}
.unit-3of5 {
  width: 59.2%;
}
.row-no-gutter .unit-3of5 {
  width: 60%;
  margin-right: 0;
}
.unit-4of5 {
  width: 79.6%;
}
.row-no-gutter .unit-4of5 {
  width: 80%;
  margin-right: 0;
}
.unit-last {
  margin-right: 0;
}
.row-reversed .unit {
  float: right;
  margin-right: 0;
  margin-left: 2%;
}
.row-reversed .unit-last {
  margin-left: 0;
}
.grid {
  clear: both;
  zoom: 1;
  margin-left: -20px;
}
.grid:before,
.grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.grid__item,
.grid__item-alt {
  display: inline;
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid__item-alt {
  float: right;
}
.one-whole {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333333333333336%;
}
.two-thirds {
  width: 66.66666666666667%;
}
.one-quarter {
  width: 25%;
}
.three-quarters {
  width: 75%;
}
.one-fifth {
  width: 20%;
}
.two-fifths {
  width: 40%;
}
.three-fifths {
  width: 60%;
}
.four-fifths {
  width: 80%;
}
.one-sixth {
  width: 16.666666666666668%;
}
.five-sixths {
  width: 83.33333333333334%;
}
.one-eighth {
  width: 12.5%;
}
.three-eighths {
  width: 37.5%;
}
.five-eighths {
  width: 62.5%;
}
.seven-eighths {
  width: 87.5%;
}
.one-tenth {
  width: 10%;
}
.three-tenths {
  width: 30%;
}
.seven-tenths {
  width: 70%;
}
.nine-tenths {
  width: 90%;
}
.one-twelfth {
  width: 8.333333333333334%;
}
.five-twelfths {
  width: 41.66666666666667%;
}
.seven-twelfths {
  width: 58.333333333333336%;
}
.eleven-twelfths {
  width: 91.66666666666667%;
}
@media only screen and (max-width:700px) {
  .palm-one-whole {
    width: 100%;
  }
  .palm-one-half {
    width: 50%;
  }
  .palm-one-third {
    width: 33.333333333333336%;
  }
  .palm-two-thirds {
    width: 66.66666666666667%;
  }
  .palm-one-quarter {
    width: 25%;
  }
  .palm-three-quarters {
    width: 75%;
  }
  .palm-one-fifth {
    width: 20%;
  }
  .palm-two-fifths {
    width: 40%;
  }
  .palm-three-fifths {
    width: 60%;
  }
  .palm-four-fifths {
    width: 80%;
  }
  .palm-one-sixth {
    width: 16.666666666666668%;
  }
  .palm-five-sixths {
    width: 83.33333333333334%;
  }
  .palm-one-eighth {
    width: 12.5%;
  }
  .palm-three-eighths {
    width: 37.5%;
  }
  .palm-five-eighths {
    width: 62.5%;
  }
  .palm-seven-eighths {
    width: 87.5%;
  }
  .palm-one-tenth {
    width: 10%;
  }
  .palm-three-tenths {
    width: 30%;
  }
  .palm-seven-tenths {
    width: 70%;
  }
  .palm-nine-tenths {
    width: 90%;
  }
  .palm-one-twelfth {
    width: 8.333333333333334%;
  }
  .palm-five-twelfths {
    width: 41.66666666666667%;
  }
  .palm-seven-twelfths {
    width: 58.333333333333336%;
  }
  .palm-eleven-twelfths {
    width: 91.66666666666667%;
  }
}
@media only screen and (min-width:700px) and (max-width:1023px) {
  .lap-one-whole {
    width: 100%;
  }
  .lap-one-half {
    width: 50%;
  }
  .lap-one-third {
    width: 33.333333333333336%;
  }
  .lap-two-thirds {
    width: 66.66666666666667%;
  }
  .lap-one-quarter {
    width: 25%;
  }
  .lap-three-quarters {
    width: 75%;
  }
  .lap-one-fifth {
    width: 20%;
  }
  .lap-two-fifths {
    width: 40%;
  }
  .lap-three-fifths {
    width: 60%;
  }
  .lap-four-fifths {
    width: 80%;
  }
  .lap-one-sixth {
    width: 16.666666666666668%;
  }
  .lap-five-sixths {
    width: 83.33333333333334%;
  }
  .lap-one-eighth {
    width: 12.5%;
  }
  .lap-three-eighths {
    width: 37.5%;
  }
  .lap-five-eighths {
    width: 62.5%;
  }
  .lap-seven-eighths {
    width: 87.5%;
  }
  .lap-one-tenth {
    width: 10%;
  }
  .lap-three-tenths {
    width: 30%;
  }
  .lap-seven-tenths {
    width: 70%;
  }
  .lap-nine-tenths {
    width: 90%;
  }
  .lap-one-twelfth {
    width: 8.333333333333334%;
  }
  .lap-five-twelfths {
    width: 41.66666666666667%;
  }
  .lap-seven-twelfths {
    width: 58.333333333333336%;
  }
  .lap-eleven-twelfths {
    width: 91.66666666666667%;
  }
}
@media only screen and (max-width:1023px) {
  .portable-one-whole {
    width: 100%;
  }
  .portable-one-half {
    width: 50%;
  }
  .portable-one-third {
    width: 33.333333333333336%;
  }
  .portable-two-thirds {
    width: 66.66666666666667%;
  }
  .portable-one-quarter {
    width: 25%;
  }
  .portable-three-quarters {
    width: 75%;
  }
  .portable-one-fifth {
    width: 20%;
  }
  .portable-two-fifths {
    width: 40%;
  }
  .portable-three-fifths {
    width: 60%;
  }
  .portable-four-fifths {
    width: 80%;
  }
  .portable-one-sixth {
    width: 16.666666666666668%;
  }
  .portable-five-sixths {
    width: 83.33333333333334%;
  }
  .portable-one-eighth {
    width: 12.5%;
  }
  .portable-three-eighths {
    width: 37.5%;
  }
  .portable-five-eighths {
    width: 62.5%;
  }
  .portable-seven-eighths {
    width: 87.5%;
  }
  .portable-one-tenth {
    width: 10%;
  }
  .portable-three-tenths {
    width: 30%;
  }
  .portable-seven-tenths {
    width: 70%;
  }
  .portable-nine-tenths {
    width: 90%;
  }
  .portable-one-twelfth {
    width: 8.333333333333334%;
  }
  .portable-five-twelfths {
    width: 41.66666666666667%;
  }
  .portable-seven-twelfths {
    width: 58.333333333333336%;
  }
  .portable-eleven-twelfths {
    width: 91.66666666666667%;
  }
}
@media only screen and (min-width:1024px) {
  .desk-one-whole {
    width: 100%;
  }
  .desk-one-half {
    width: 50%;
  }
  .desk-one-third {
    width: 33.333333333333336%;
  }
  .desk-two-thirds {
    width: 66.66666666666667%;
  }
  .desk-one-quarter {
    width: 25%;
  }
  .desk-three-quarters {
    width: 75%;
  }
  .desk-one-fifth {
    width: 20%;
  }
  .desk-two-fifths {
    width: 40%;
  }
  .desk-three-fifths {
    width: 60%;
  }
  .desk-four-fifths {
    width: 80%;
  }
  .desk-one-sixth {
    width: 16.666666666666668%;
  }
  .desk-five-sixths {
    width: 83.33333333333334%;
  }
  .desk-one-eighth {
    width: 12.5%;
  }
  .desk-three-eighths {
    width: 37.5%;
  }
  .desk-five-eighths {
    width: 62.5%;
  }
  .desk-seven-eighths {
    width: 87.5%;
  }
  .desk-one-tenth {
    width: 10%;
  }
  .desk-three-tenths {
    width: 30%;
  }
  .desk-seven-tenths {
    width: 70%;
  }
  .desk-nine-tenths {
    width: 90%;
  }
  .desk-one-twelfth {
    width: 8.333333333333334%;
  }
  .desk-five-twelfths {
    width: 41.66666666666667%;
  }
  .desk-seven-twelfths {
    width: 58.333333333333336%;
  }
  .desk-eleven-twelfths {
    width: 91.66666666666667%;
  }
}
.text-input,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 1.6;
  -webkit-transition: border-color 0.1s ease, box-shadow 0.2s ease;
  -moz-transition: border-color 0.1s ease, box-shadow 0.2s ease;
  -o-transition: border-color 0.1s ease, box-shadow 0.2s ease;
  -ms-transition: border-color 0.1s ease, box-shadow 0.2s ease;
  transition: border-color 0.1s ease, box-shadow 0.2s ease;
  font-family: inherit;
  font-size: inherit;
}
.text-input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
  border-color: #207ea9;
  -webkit-box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  outline: 0;
}
textarea {
  resize: vertical;
}
select {
  height: 32px;
}
input[type="file"] {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}
.form-row {
  margin-bottom: 1.5em;
}
.form-row label {
  display: block;
}
.form-row .form-label-text {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  padding-top: 4px;
  padding-right: 20px;
}
.form-row .form-label-text abbr {
  color: #ca4427;
  margin-left: 4px;
  border-bottom: none;
}
.form-row .form-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row ul.form-field {
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
}
.form-row ul.form-field li {
  list-style: none;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="url"],
.form-row input[type="password"],
.form-row input[type="search"],
.form-row textarea,
.form-row select {
  display: block;
  width: 70%;
}
.form-row select[multiple] {
  display: inline-block;
  height: auto;
  padding: 5px 10px;
  margin-right: -1px;
}
.form-row input[type="checkbox"],
.form-row input[type="radio"] {
  margin-right: 10px;
}
.form-row-field-group .form-label-text,
.form-row-checkbox .form-label-text,
 .form-label-text {
  padding-top: 0;
}
.form-row-checkbox .form-field {
  margin-top: 0;
}
.form-row-alt .form-label-text {
  margin-top: 3px;
  float: none;
  margin-right: 0;
}
.form-row-alt .form-field {
  width: auto;
  margin-left: 30%;
}
.form-row-upload .form-label-text {
  padding-top: 0;
}
.form-row.form-row-full-width .form-label-text {
  display: block;
  float: none;
  width: 100%;
  margin-right: 0;
  padding-top: 0;
  margin-bottom: 4px;
}
.form-row.form-row-full-width .form-field {
  width: 100%;
}
.form-row.form-row-full-width .form-row-description {
  margin-left: 0;
  width: 100%;
}
.form-row-group .form-field {
  width: 70%;
  margin-right: -1px;
}
.form-row-group .form-field li {
  float: left;
  width: 32%;
  margin-left: 2%;
}
.form-row-group .form-field li:first-child {
  margin-left: 0;
}
.form-row-group .form-field .form-label-text {
  display: none;
}
.form-row-group .form-field .form-field {
  width: 100%;
}
.form-row-group-alt .form-field li {
  width: 22%;
}
.form-row-group-alt .form-field li:first-child {
  width: 52%;
}
.form-row-actions {
  text-align: right;
}
.form-row-actions input,
.form-row-actions button,
.form-row-actions .btn {
  margin-left: 10px;
}
.form-row-actions input:first-child,
.form-row-actions button:first-child,
.form-row-actions .btn:first-child {
  margin-left: 0;
}
.form-copy {
  margin-top: 3px;
}
.form-copy p,
.form-copy ul,
.form-copy ol {
  margin-top: 3px;
  margin-bottom: 0;
}
.form-copy ul,
.form-copy ol {
  padding-left: 10px;
}
.form-row-description {
  color: #777;
  font-size: 0.8em;
  margin-left: 30%;
  width: 70%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row-full-width .form-row-description {
  margin-left: 0;
  width: 100%;
}
.form-error {
  margin-bottom: 1.5em;
  background-color: #ca4427;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  border: 1px solid #b63d23;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.form-row-error .form-field {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #b63d23;
}
.form-row-error .form-field:focus {
  border-color: #b63d23;
}
.form-row-error-text {
  background-color: #ca4427;
  color: #fff;
  padding: 5px 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #b63d23;
  border-top-width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset, 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
select + .form-row-error-text,
.form-row-checkbox .form-row-error-text,
.form-row-field-group .form-row-error-text {
/* Set all border radii */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
  border-top-width: 1px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  vertical-align: top;
}
th {
  text-align: left;
  border-bottom: 2px solid #666;
}
td {
  border-bottom: 1px solid #999;
}
td.title strong {
  font-size: 1.05em;
}
.table-highlight tbody tr:hover {
  background-color: #a7d8ee;
}
.table-sortable th a {
  position: relative;
  text-decoration: none;
  color: #333;
/* TODO - Convert to variable */
  padding-right: 14px;
}
.table-sortable th a:hover {
  text-decoration: underline;
}
.table-sortable .sort-asc a:after,
.table-sortable .sort-desc a:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 0;
  width: 8px;
  height: 5px;
  background-position: -100% -100%;
  background-repeat: no-repeat;
  background-image: versionPath("/admin/images/content/sprite.png");
}
.svg .table-sortable .sort-asc a:after,
.svg .table-sortable .sort-desc a:after {
  background-image: versionPath("/admin/images/content/sprite.svg");
}
.table-sortable .sort-asc a:after {
  background-position: -112px 0;
}
.table-sortable .sort-asc a:hover:after {
  background-position: -112px -5px;
}
.table-sortable .sort-desc a:after {
  background-position: -112px -10px;
}
.table-sortable .sort-desc a:hover:after {
  background-position: -112px -15px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: -100% -100%;
  background-image: url("/admin-static/images/content/sprite.png");
}
.svg .icon {
  background-image: url("/admin-static/images/content/sprite.svg");
}
.icon-reset {
  width: 8px;
  height: 8px;
  background-position: -53px -25px;
}
.btn-reset:hover .icon-reset {
  background-position: -61px -25px;
}
.icon-search {
  background-position: -88px -24px;
}
.icon-settings {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: -95px 0;
}
.main-header-fixed {
  position: fixed;
  background-color: #1b1b1c;
  height: 30px;
  padding: 10px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.main-header-fixed .site-title {
  line-height: 30px;
  margin-left: 85px;
  display: inline-block;
}
.main-header-fixed .site-title a {
  color: #fff;
}
.main-header-fixed .site-title a:hover {
  color: #207ea9;
  text-decoration: none;
}
.main-header-fixed .logo-mascot {
  position: absolute;
  top: -5px;
  margin-left: -10px;
  pointer-events: none;
}
.main-header-fixed .page-actions {
  float: right;
  margin-right: 10px;
}
.main-header-fixed .page-actions .btn {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 28px;
  margin-left: 10px;
}
.main-navigation {
  height: 100%;
  z-index: 9;
  margin-bottom: 0;
  background-color: #252525;
}
.nav-list {
  border-top: 1px solid #3b3b3b;
}
.nav-list li {
  list-style: none;
  border-bottom: 1px solid #3b3b3b;
  position: relative;
}
.nav-list li button {
  width: 100%;
  border: none;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 0;
  text-align: left;
  background-color: #252525;
  font-family: 'PT Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
  color: #fff;
}
.nav-list li button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}
.nav-list .subnav {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.nav-list .subnav li {
  width: 100%;
  border: none;
  border-top: 1px solid #444;
}
.nav-list .subnav button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.nav-list li:hover .subnav {
  display: block;
}
.navigation-search {
  padding: 10px;
}
.navigation-search .form-row {
  margin-bottom: 0;
}
.main-content {
  position: relative;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.login .main-content {
  padding: 80px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  max-width: 620px;
}
.main-footer {
  clear: both;
}
.main-footer .footer-content {
  text-align: center;
  border-top: 1px solid #aaa;
  padding-top: 10px;
  margin-bottom: 10px;
}
.btn {
  display: inline-block;
  width: auto;
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #bbb;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn:focus,
.btn:hover {
  color: #fff;
  background-color: #838383;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-color: #9f9f9f;
  outline: 0;
}
.btn-primary {
  background-color: #207ea9;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #165876;
}
.btn-primary:active {
  background-color: #1b6b90;
}
.btn-success {
  background-color: #47a967;
}
.btn-success:focus,
.btn-success:hover {
  background-color: #327648;
}
.btn-success:active {
  background-color: #3c9058;
}
.btn-info {
  background-color: #4791a9;
}
.btn-info:focus,
.btn-info:hover {
  background-color: #7ab4c7;
}
.btn-info:active {
  background-color: #3c7b90;
}
.btn-warning {
  background-color: #dc7f2a;
}
.btn-warning:focus,
.btn-warning:hover {
  background-color: #9e591a;
}
.btn-warning:active {
  background-color: #bf6c1f;
}
.btn-danger {
  background-color: #ca4427;
}
.btn-danger:focus,
.btn-danger:hover {
  background-color: #8d301b;
}
.btn-danger:active {
  background-color: #ac3a21;
}
.btn-disabled {
  background-color: #d4d4d4;
  pointer-events: none;
  color: #aaa;
}
.btn-disabled:focus,
.btn-disabled:hover {
  background-color: #8d301b;
}
.btn-disabled:active {
  background-color: #ac3a21;
}
.btn-small {
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.2;
}
.btn-group .btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 1px !important;
}
.btn-group .btn:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  margin-left: 0;
}
.btn-group .btn:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.breadcrumb {
  margin-bottom: 18px;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li:before {
  content: " / ";
}
.breadcrumb li:first-child:before {
  content: "";
}
.breadcrumb li,
.breadcrumb li a {
  font-size: 12px;
  color: #919191;
}
.breadcrumb li a {
  text-decoration: underline;
}
.breadcrumb li a:hover {
  color: #207ea9;
}
.pagination {
  text-align: center;
}
.pagination-list li {
  list-style: none;
  display: inline-block;
}
.pagination-list a,
.pagination-list span {
  text-decoration: none;
  padding: 3px 5px 3px;
  margin: 0px 3px;
}
.pagination-list span {
  color: #aaa;
  cursor: default;
}
.pagination-list .first a:before,
.pagination-list .first span:before {
  content: "\00ab\00a0";
}
.pagination-list .previous a:before,
.pagination-list .previous span:before {
  content: "\2039\00a0";
}
.pagination-list .next a:after,
.pagination-list .next span:after {
  content: "\00a0\203A";
}
.pagination-list .last a:after,
.pagination-list .last span:after {
  content: "\00a0\00bb";
}
.pagination-list .pagination-current-page {
  width: auto;
  outline: 0;
/* Be sure to set a focus style if using this */
  cursor: pointer;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #207ea9;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.pagination-list .pagination-current-page:hover {
  background-color: #165876;
}
.pagination-list .pagination-current-page:active,
.pagination-list .pagination-current-page:focus {
  background-color: #1b6b90;
}
[data-tooltip] {
  border-bottom: 1px dotted #207ea9;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  display: block;
  left: -9999px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  top: -30px;
  background: #111;
  border-top: 1px solid #222;
  border-bottom: 1px solid #000;
  color: #fff;
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
  padding: 3px 8px;
  white-space: nowrap;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
[data-tooltip]:after {
  content: "";
  top: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px;
  border-color: #000 transparent transparent transparent;
}
[data-tooltip]:hover:before {
  left: -8px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
[data-tooltip]:hover:after {
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
[data-tooltip].left:before {
  top: 50%;
  margin-top: -13px;
/* TODO - half line-height + padding top*/
  margin-right: 6px;
}
[data-tooltip].left:after {
  top: 50%;
  margin-right: -2px;
  margin-top: -4px;
  border-color: transparent transparent transparent #000;
}
[data-tooltip].left:hover:before,
[data-tooltip].left:hover:after {
  right: 100%;
  left: auto;
}
[data-tooltip].right:before {
  top: 50%;
  margin-top: -13px;
/* TODO - half line-height + padding top*/
  margin-left: 6px;
}
[data-tooltip].right:after {
  top: 50%;
  margin-left: -2px;
  margin-top: -4px;
  border-color: transparent #000 transparent transparent;
}
[data-tooltip].right:hover:before,
[data-tooltip].right:hover:after {
  left: 100%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.45);
  z-index: 1000;
  overflow-y: auto;
}
.modal-content {
  position: relative;
  left: 50%;
  top: 30%;
  width: 400px;
  margin: 20px;
  margin-left: -200px;
  padding: 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(51,51,51,0.3);
  box-shadow: 0px 2px 5px rgba(51,51,51,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-content h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.modal-content .controls {
  text-align: right;
}
.modal-content .controls button {
  margin-left: 10px;
}
.notification {
  position: relative;
  padding: 10px 14px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #bbb;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.notification .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  width: 10px;
  height: 11px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 -16px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  background-image: versionPath("/admin/images/content/sprite.png");
}
.svg .notification .btn-close {
  background-image: versionPath("/admin/images/content/sprite.svg");
}
.notification .btn-close:hover {
  background-position: -10px -16px;
}
.notification-title {
  color: inherit;
  line-height: 1.2;
  margin-bottom: 0;
}
.notification-title + .notification-content {
  margin-top: 10px;
}
.notification-content,
.notification-content ul,
.notification-content ol,
.notification-content p {
  margin: 0;
}
.notification-content ul,
.notification-content ol {
  margin-left: 10px;
}
.notification.close .notification-content,
.notification.close .notification-title {
  padding-right: 30px;
}
.notification-primary {
  background-color: #207ea9;
}
.notification-success {
  background-color: #47a967;
}
.notification-info {
  background-color: #4791a9;
}
.notification-warning {
  background-color: #dc7f2a;
}
.notification-error {
  background-color: #ca4427;
}
#ui-notifications {
  position: fixed;
  top: 10px;
  right: 15px;
}
#ui-notifications li {
  margin-bottom: 5px;
  list-style: none;
}
.ui-notification {
  position: relative;
  max-width: 400px;
  min-width: 250px;
  z-index: 1000;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.9);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ddd;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1), 0px 2px 3px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.1), 0px 2px 3px rgba(0,0,0,0.2);
/* close */
/* slide */
/* fade */
/* scale */
}
.ui-notification:after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  border: 2px solid #4791a9;
}
.ui-notification.warn:after {
  border: 2px solid #dc7f2a;
}
.ui-notification.error:after {
  border: 2px solid #ca4427;
}
.ui-notification .content {
  padding: 15px 20px;
}
.ui-notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}
.ui-notification p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.ui-notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none;
}
.ui-notification.closable .close {
  display: block;
}
.ui-notification .close:hover {
  color: #fff;
}
.ui-notification .close:active {
  margin-top: 1px;
}
.ui-notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}
.ui-notification.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms;
  -o-transition: opacity 300ms, top 300ms;
  -ms-transition: opacity 300ms, top 300ms;
  transition: opacity 300ms, top 300ms;
}
.ui-notification.slide.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: -500px;
}
.ui-notification.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  transition: opacity 300ms;
}
.ui-notification.fade.hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ui-notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  -ms-transition: -ms-transform 300ms;
  transition: transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.ui-notification.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.datepicker {
  position: relative;
  display: block;
}
.datepicker:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: 9px;
  width: 17px;
  height: 16px;
  pointer-events: none;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: -78px 0;
  background-image: url("/admin-static/images/content/sprite.png");
}
.svg .datepicker:after {
  background-image: url("/admin-static/images/content/sprite.svg");
}
.datepicker input {
  padding-right: 34px;
}
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.pika-single:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 24px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("/admin-static/images/content/sprite.png");
}
.svg .pika-single:before {
  background-image: url("/admin-static/images/content/sprite.svg");
}
.pika-single.below {
  margin-top: 10px;
}
.pika-single.below:before {
  top: -12px;
  background-position: -53px 0;
}
.pika-single.above {
  margin-top: -10px;
}
.pika-single.above:before {
  bottom: -12px;
  background-position: -53px -13px;
}
.pika-single.is-hidden {
  display: none;
}
.pika-single.is-bound {
  position: absolute;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 8px -4px rgba(0,0,0,0.5);
}
.pika-title {
  position: relative;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 0 5px 5px 0;
  font-weight: bold;
  background-color: #fff;
}
.pika-select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  padding: 0;
  height: auto;
}
.pika-prev,
.pika-next {
  position: absolute;
  top: 6px;
  right: 0;
  text-indent: -9999px;
  cursor: pointer;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  width: 8px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: -9px -48px;
  background-image: url("/admin-static/images/content/sprite.png");
}
.svg .pika-prev,
.svg .pika-next {
  background-image: url("/admin-static/images/content/sprite.svg");
}
.pika-prev:before,
.pika-next:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 16px;
  height: 17px;
}
.pika-prev:hover,
.pika-next:hover {
  background-position: -9px -38px;
}
.pika-prev {
  right: 16px;
  background-position: 0 -48px;
}
.pika-prev:hover {
  background-position: 0 -38px;
}
.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.pika-table {
  width: auto;
  margin-bottom: 0;
  margin-right: 1px;
/* Rectifies border collapse causing a padding mismatch */
}
.pika-table th,
.pika-table td {
  padding: 0;
  text-align: center;
}
.pika-table th {
  font-size: 10px;
  text-transform: uppercase;
  border: none;
  padding-bottom: 6px;
}
.pika-table th abbr {
  border-bottom: 0;
}
.pika-table td {
  border: 1px solid #ddd;
}
.pika-table td.is-empty {
  border: 0;
}
.pika-button {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'PT Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: bold;
}
.pika-button:hover {
  color: #fff;
  background: #207ea9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.is-today .pika-button {
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2) inset;
  background-color: #f9f9f9;
}
.is-today .pika-button:hover {
  background: #207ea9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.is-selected .pika-button {
  background-position: -23px 0;
  background-repeat: no-repeat;
  background-color: #207ea9;
  background-image: url("/admin-static/images/content/sprite.png");
}
.svg .is-selected .pika-button {
  background-image: url("/admin-static/images/content/sprite.svg");
}
.is-selected .pika-button:hover {
  background-image: none;
}
.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
margin
padding
  min-height: 50px;
}
.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
}
.dd-handle:hover {
  background: #fff;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.list-filters {
  background-color: #ccc;
  padding: 10px;
  height: 100%;
}
.list-controls {
  overflow: hidden;
  margin-bottom: 20px;
}
.list-control-set {
  float: left;
  margin-right: 20px;
}
.list-control-set p {
  display: inline;
  margin-right: 10px;
}
.list-control-set ul {
  display: inline;
}
.list-control-set li {
  margin-right: 6px;
}
.list-layout-mode .active {
  border: 1px solid #f00;
}
.list-grid {
  clear: left;
}
.draggable,
.dropable {
  border: 1px dashed #000;
  background: #f00;
}
.widget-list {
  color: #f00;
}
.widget-rows .row {
  position: relative;
}
.widget-rows .row span.btn {
  position: absolute;
  top: 0;
  right: 0;
}
.select2-sprite,
.select2-choice div b,
.select2-search input,
.select2-search-choice-close {
  background-image: url("/images/content/select2/select2.png");
}
.svg .select2-sprite,
.svg .select2-choice div b,
.svg .select2-search input,
.svg .select2-search-choice-close {
  background-image: url("/images/content/select2/select2.svg");
}
.select2-spinner,
.select2-choices .select2-search-field input.select2-active,
.select2-search input.select2-active,
.select2-more-results.select2-active {
  background: url("/images/content/select2/spinner.gif");
  background-position: 99% 50%;
  background-repeat: no-repeat;
}
.select2 {
  width: 70% !important;
}
.select2-container-multi {
  margin-right: -1px;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.select2-container {
  position: relative;
  vertical-align: top;
  display: inline-block;
/* inline-block for ie7 */
  zoom: 1;
  *display: inline;
}
.select2-offscreen {
  position: absolute;
  left: -10000px;
}
.select2-choice {
  position: relative;
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 8px;
  white-space: nowrap;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -ms-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  color: #222;
  text-decoration: none;
}
.select2-choice:hover,
.select2-choice:focus {
  text-decoration: none;
  outline: none;
}
.select2-choice span {
  margin-right: 60px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.select2-choice div {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 100%;
  width: 30px;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #bbb;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
  box-shadow: 0 1px 1px rgba(255,255,255,0.3) inset;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.select2-choice div b {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -3px;
  width: 8px;
  height: 6px;
  background-position: -20px -24px;
  background-repeat: no-repeat;
}
.select2-container-active .select2-choice {
  border: 1px solid #207ea9;
  -webkit-box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  outline: none;
  text-decoration: none;
}
.select2-container-active .select2-choice div {
  background-color: #207ea9;
}
.select2-dropdown-open .select2-choice {
  border: 1px solid #207ea9;
}
.select2-dropdown-open .select2-choice div {
  background-color: #207ea9;
}
.select2-dropdown-open .select2-choice div b {
  background-position: -20px -32px;
}
.select2-drop-above .select2-choice {
  border-bottom-color: #ddd;
}
.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-choices {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  min-height: 32px;
  line-height: 32px;
  cursor: text;
  overflow: hidden;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -ms-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  -webkit-background-clip: border;
  -moz-background-clip: border;
  background-clip: border-box;
}
.select2-choices li {
  float: left;
  list-style: none;
}
.select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.select2-choices .select2-search-field input {
  color: #666;
  background-color: transparent;
  outline: 0;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.select2-choices .select2-search-choice {
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #207ea9;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 14px;
  padding: 4px 5px 4px 18px;
  margin: 4px 0 0 4px;
  position: relative;
  cursor: default;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.select2-choices .select2-search-choice span {
  cursor: default;
}
.select2-container-active .select2-choices {
  border: 1px solid #207ea9;
  -webkit-box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  box-shadow: 0px 0px 5px rgba(32,126,169,0.8);
  outline: none;
  text-decoration: none;
}
.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container-disabled .select2-choices .select2-search-choice {
  background-image: none;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding-left: 5px;
  color: #999;
  font-weight: normal;
  text-shadow: none;
}
.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
}
.select2-drop {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-width: 0;
  z-index: 9999;
}
.select2-drop.select2-drop-above {
  border-top: 1px solid #ddd;
  border-bottom-width: 0;
}
.select2-search {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}
.select2-drop.select2-drop-above .select2-search {
  padding-top: 4px;
}
.select2-search input {
  background-repeat: no-repeat;
  background-position: 100% 6px;
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
}
.select2-search input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
}
.select2-search-hidden {
  position: absolute;
  left: -9999px;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results {
  margin: 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}
.select2-results li {
  list-style: none;
  display: list-item;
}
.select2-results .select2-result-label {
  padding: 3px 6px;
  border: 1px solid transparent;
  margin: 0;
  cursor: pointer;
}
.select2-results .select2-disabled {
  display: none;
}
.select2-highlighted .select2-result-label {
  color: #fff;
  background-color: #222;
  font-weight: bold;
  background-color: #207ea9;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.select2-result-sub {
  margin: 0;
}
.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
.select2-result-sub .select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
.select2-result-sub .select2-result-sub .select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
.select2-result-sub .select2-result-sub .select2-result-sub .select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
.select2-result-sub .select2-result-sub .select2-result-sub .select2-result-sub .select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
.select2-result-with-children > .select2-result-label {
  font-weight: bold;
  cursor: default;
}
.select2-no-results,
.select2-searching,
.select2-selection-limit {
  background: #eee;
  display: list-item;
  padding: 2px 6px;
  border: 1px solid #ddd;
}
.select2-more-results {
  background: #fff;
  display: list-item;
}
.select2-search-choice-close {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 1px;
  border: 0;
  cursor: pointer;
  background-position: 2px -23px;
  background-repeat: no-repeat;
}
.select2-choice .select2-search-choice-close {
  right: 40px;
  top: 10px;
}
.select2-choice .select2-search-choice-close:hover {
  background-position: 2px -34px;
  cursor: pointer;
}
.select2-choices .select2-search-choice-close {
  left: 3px;
  top: 5px;
  background-position: -8px -22px;
}
.select2-choices .select2-search-choice-close:hover {
  background-position: -8px -33px;
}
.select2-default {
  color: #999 !important;
}
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match {
  text-decoration: underline;
}
.select2-result-unselectable .select2-match {
  text-decoration: none;
}
.form-row-tags p {
  display: inline-block;
  margin-right: 10px;
}
.form-row-tags .select2-tags {
  display: inline-block;
  padding-left: 0;
}
.form-row-tags .select2-tags li {
  display: inline-block;
  margin-right: 10px;
}
.control-group {
  float: left;
  margin-left: 20px;
}
.list-inline li {
  display: inline;
}
fieldset {
  border: 1px solid #777;
  padding: 10px;
}
.section-title:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}
.panel-solid {
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
.panel-full-height {
  height: 100%;
}
.row-border,
.panel-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  padding: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.panel-temp {
  text-align: center;
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 0;
}
.panel-temp p {
  margin-bottom: 0;
}
.vhidden,
.placeholder .form-hide-labels .form-label-text {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px !important;
  width: 1px !important;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
.form-row-date-time label .form-label-text {
  display: none;
}
.form-row-date-time .label-group {
  width: 70%;
}
.form-row-date-time .form-label-date {
  width: 50%;
}
.form-row-date-time .form-label-hour,
.form-row-date-time .form-label-minute {
  width: 20%;
}
.form-overlay-group {
  position: relative;
}
.btn-form-overlay {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.asset-preview-large {
  text-align: center;
  margin-bottom: 20px;
}
.asset-preview-large img {
  padding: 1px;
  border: 1px solid #aaa;
}
.panel .grid {
  padding: 10px;
}
.list-item {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.list-item h3 {
  margin-bottom: 10px;
  line-height: 22px;
  overflow: hidden;
}
.list-item p,
.list-item ul {
  margin-bottom: 0;
}
.list-item dl {
  font-size: 12px;
}
.list-item .media {
  margin: 0;
}
.list-item .img .img-crop {
  background-position: 50% 25%;
  display: block;
  width: 144px;
  height: 122px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.list-item .status {
  background-color: #47a967;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 4px;
  line-height: 1;
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 6px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (max-width: 1400px) {
  .list-item .status {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    margin-right: 20px;
  }
}
.list-item-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 78%;
  padding: 10px 0;
  border-right: 1px solid #ddd;
  margin-right: 2%;
}
.list-item-meta dt,
.list-item-meta dd {
  display: inline-block;
  margin-right: 4px;
}
.list-item-meta dd {
  margin-right: 20px;
  margin-bottom: 0;
}
.list-item-schedule {
  float: right;
  width: 20%;
}
.list-item-schedule dt {
  font-weight: normal;
  margin-top: 4px;
}
.list-item-schedule dd {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 6px;
}
.list-item .img {
  max-width: 140px;
}
.list-item .list-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  float: left;
}
.list-item .list-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
}
.toolbar {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 200px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.page-content .page-split__flexi .toolbar {
  padding-left: 400px;
}
.toolbar .btn {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 28px;
  margin-left: 10px;
}
.toolbar .btn:first-child {
  margin-left: 0;
}
.toolbar .control-group:first-child {
  margin-left: 0;
}
