extend ../layouts/default

block content
  .section
    .centering
        :markdown

          #### [Google Web Fundamentals](https://developers.google.com/web/fundamentals/)
          A handbook for best practices

          ---

          #### [Email Client Market Share (Litmus' monthly low-down)](http://emailclientmarketshare.com/)
          Email client usage worldwide, collected from 395 million email opens.

          ---

          #### [MQtest.io](http://mqtest.io/)
          A simple tool to help identify which media queries your device responds to.

          ---

          #### [To Close Or Not to Close?](http://www.colorglare.com/2014/02/03/to-close-or-not-to-close.html)
          A simple tool to help identify which media queries your device responds to.

          ---

          #### [WebAim](http://www.colorglare.com/2014/02/03/to-close-or-not-to-close.html)
          Web accessibility evaluation tool

          ---

          #### [ChromeVox](http://www.chromevox.com/)
          ChromeVox is a screen reader for Chrome which brings the speed, versatility, and security of Chrome to visually impaired users.

          ---

          #### [Snugug: Responsive Grids](http://snugug.github.io/responsive-grids/#/)
          A tasty, visual presentation on responsive grids

          ---

          #### [HTML5 Accessibility](http://www.html5accessibility.com/)
          This site is a resource to provide information about which new HTML5 user interface features are accessibility supported in browsers, making them usable by people who rely upon assistive technology (AT) to use the web.

          ---

          #### [WTF HTML CSS](http://wtfhtmlcss.com/)
          Reasons HTML and CSS might make you say WTF. A curated list of commonly frustrating HTML and CSS quandaries, miscues, and dilemmas.

          ---

          #### [A List Apart: Network Performance Testing](http://alistapart.com/blog/post/network-performance-testing/)

          ---

          #### [Paul Lewis: The Runtime Performance Checklist](http://calendar.perfplanet.com/2013/the-runtime-performance-checklist/)
          
          ---
          
          #### [Oozled](http://oozled.com/)
          Curated resources for everything design related
          
          ---
          
          #### [GoodUI.org](http://goodui.org/)
          A Good User Interface has high conversion rates and is easy to use. In other words, it's nice to both the business side as well as the people using it. Here is a running idea list, which we try on projects.
          
          ---
          
          #### [Compressor.io](http://compressor.io/)
          Compressor.io is a powerful online tool for reducing drastically the size of your images and photos whilst maintaining a high quality with almost no difference before and after compression.
