extend ../layouts/default

block content

  .section
    .centering
      :markdown

        We endeavour to ensure our sites work as expected in Chrome, Safari, Firefox and Opera. Their automatic upgrade processes ensure that the majority of users will be using the latest versions. As a result of this, we test each in their current major release, and one version previous. Internet Explorer supported from IE9+. There is further information about older versions of IE later in this document.

        All browsers have varying levels of support for advanced features such as CSS animation and HTML5 APIs. Where possible, we will provide suitable fallbacks for browsers which don't support these features.

        Most projects have a reliance on JavaScript. This allows for dynamic features such as slideshows, tabbed elements, and live data manipulation. The few users who don't have JavaScript enabled will receive basic versions of these features.

  .section
    .centering
      :markdown

        ## Older Versions of Internet Explorer

        Versions of Internet Explorer before IE9 have many limitations. As a result, we will make sure our projects work to an acceptable level in IE8 although some compromises are unavoidable. Visual differences to elements may be present, such as a lack of rounded corners or drop shadows. There may also be visual changes to layouts and positioning. IE9 and above are the only versions of Internet Explorer to support full responsive design. IE8 will display the desktop view of the project only.

  .section
    .centering
      :markdown

        ## Mobile Devices

        **iOS**: Safari (default browser) tested for the current version of iOS, and one version previous.

        **Android**: Google Chrome (default browser) tested for Android 4.1 (Jelly Bean) and above.

        **Windows Phone**: Internet Explorer Mobile (default browser) tested for Windows Phone 8 and above.

  .section
    .centering
      :markdown

        ## Extended Support
        If a project requires, we can extend support for specific browsers and devices. This will have an impact on deadlines and project budgets.

        #### Older Versions of Supported Browsers
        The browsers and devices listed above are the versions we *actively* test in. Older versions of Chrome, Firefox and Safari should behave as expected but may contain minor functional or visual differences.

        #### Android
        We can additionally offer support for Android 2.3 (Gingerbread) and 4.0 (Ice Cream Sandwich). These use a stock default browser.

        #### Internet Explorer 7
        The latest release of IE7 was in 2007, and its global usage is currently below 0.4% and falling. The amount of time taken to make sites work in IE7 often outweighs the benefits.

        #### Third-Party Browser Apps
        Browsers such as Chrome or Opera Mini for iOS, or Firefox for Android are not covered in the scope of our standard support list. Whilst these should work as expected, we can offer extended support to test projects using these browsers. Due to the large range of third-party browsers available, feature support may vary per-browser.




  //- 
    .section
      .centering

        h2 Desktop Browsers

        table
          thead
            tr
              th Browser
              th OS
              th Support Level
              th Actively Tested
          tbody
            tr
              td Chrome
              td OS X, Windows, Linux
              td Level 1
              td Current-1 (30+)
            tr
              td Firefox
              td OS X, Windows, Linux
              td Level 1
              td Current-1 (24+)
            tr
              td Safari
              td OS X
              td Level 1
              td Current-1 (6+)
            tr
              td Opera
              td OS X, Windows, Linux
              td Level 2
              td On Request
            tr
              td IE 11, IE 10, IE 9
              td Windows
              td Level 1
              td Yes
            tr
              td IE 8
              td Windows
              td Level 2
              td Yes
            tr
              td IE 7
              td Windows
              td Level 3
              td On Request

    .section
      .centering

        h2 Mobile Browsers
        h3 iOS

        table
          thead
            tr
              th Browser
              th OS
              th Support Level
              th Actively Tested
          tbody
            tr
              td Safari
              td iOS 6+
              td Level 1
              td Yes
            tr
              td Chrome
              td iOS 6+
              td Level 2
              td On Request
            tr
              td Opera
              td iOS 6+
              td Level 2
              td On Request

        h3 Android

        table
          thead
            tr
              th Browser
              th OS
              th Support Level
              th Actively Tested
          tbody
            tr
              td Chrome
              td X.X
              td Level 1
              td Yes
            tr
              td Opera
              td X.X
              td Level 2
              td On Request
            tr
              td Firefox
              td X.X
              td Level 2
              td On Request
            tr
              td “Browser”
              td X.X
              td Level 2
              td On Request


        h3 Windows RT / Windows Phone

        table
          thead
            tr
              th Browser
              th OS
              th Support Level
              th Actively Tested
          tbody
            tr
              td IE 11
              td Windows RT 8 +
              td Level 1
              td Yes
            tr
              td IE 10 Mobile
              td Windows Phone 8 +
              td Level 2
              td On Request

  //-
    .section
      .centering

        p Older versions of Desktop/Mobile browsers, as well as Pre-release / Beta versions of browsers are not actively tested but may still work as expected.

        small All version numbers listed are correct as of 4th Dec 2013. Supported versions may have changed if browsers have relased updates since this time.

  //-
    .section
      .centering
        :markdown

          ## Support Levels

          **Level 1: Full support.**

          * Features will work as expected.
          * Styling variations between browsers will be minimal.
          * Fully tested and bugs fixed.

          **Level 2: Partial Support.**

          * Features will work as expected.
          * Some styling may be affected due to poor browser support (Responsive design, rounded corners, canvas etc.). Graceful degradation will be provided where possible.
          * Fully tested and priority bugs fixed.

          **Level 3: Basic Support.**

          * Primary, project-critical features will work.
          * Secondary features may not work as expected, but will not interfere with primary features.
          * Styling may not appear as expected due to poor browser support.

          **Level 4: Unsupported.**

          * Not supported or tested.
