extend ../layouts/default

block content

  .section
    .centering
        :markdown

          Meta content is not seen by Users within a project, but it helps to fill search engine listings or titles in a browsers’s tabs.

  .section
    .centering
        :markdown

          ## Examples

        img(src='/resource/images/articles/meta-content/meta-content--standard.png', alt='standard search listing result')

  .section
    .centering
        :markdown

          ## Title

          #### Page Title

          For the homepage, this is normally made up of the project name, followed by a short description or project strap-line:

          `Clock – Award winning web design and build`

          For all pages other than the homepage, this consists of a combination of page/article name, section name, and project title:

          `Building with Node.js | Blog | Clock`

  .section
    .centering
        :markdown

          #### Description

          An overview of the current page content. Recommended Format: up to 150 characters.

          `Clock is an award-winning digital agency. We build experiences that people love.`

  .section
    .centering
        :markdown

          #### Keywords

          Included for niche search engines, as most major ones favour good page content instead. Made up of single words or short phrases, separated by commas.

          Recommended Format: Up to 10 relevant keywords.

          Example: Clock, Clock Limited, Web Design, Award Winning, node.js, Hertfordshire

  .section
    .centering
        :markdown

          #### Attribution

          [needs clarification]

          Recommended Format: Should include a name and web address of the website author

          Example: Clock - http://clock.co.uk
