extend ../layouts/default

block content
  .section
    .centering
      :markdown

        *This page is not yet written*

        #### Still to write:
        * Overview of why components are useful
        * List of components with links to repo and (embedded?) js fiddle examples