extend ../layouts/default

block content
  .section
    .centering
      :markdown
        ## [Our Setup](/js/setup)
        Explanation and ratification of our technical approach to browser JS.

        ---

        ## [Style Guide](/js/style-guide)
        Information about our in-house style guide.

        ---
        
        ## [Tips](/js/tips)
        Tips, tricks and best practices learned the hard way, for sane JS development.