extend ../layouts/default

block content
  .section
    .centering
      :markdown
        ## [Our Setup](/js/setup)
        Explanation and ratification of our technical approach to browser JS.
  .section
    .centering
      :markdown
        ## [Style Guide](/js/style-guide)
        Information about our in-house style guide.
  .section
    .centering
      :markdown
        ## [Tips](/js/tips)
        Tips, tricks and best practices learned the hard way, for sane JS development.
  .section
    .centering
      :markdown
        ## [npm](/js/npm)
        A guide to leveraging npm for browser JS development, including publishing.

      //- * Use of the `<button>` element is preferable in places. We generally use these in place of links when there is no fallback href attribute – usually when triggering JS functionality with no required level of fallback.

      //- * jQuery, zepto etc
      //- * Modernizr, inc, rules for adding modules when needed
      //- * common plugins: break.js
