extend ../layouts/default

block content
  .section
    .centering
      :markdown

        *This page is not yet written*

        ## Overview

        * Use of the `<button>` element is preferable in places. We generally use these in place of links when there is no fallback href attribute – usually when triggering JS functionality with no required level of fallback.

        * jQuery, zepto etc
        * Modernizr, inc, rules for adding modules when needed
        * common plugins: break.js
