//
// INDEX STYLESHEET
// ================
// All Stylus imports should live in here.
//


//
// SETUP
//

@import 'nib'
@import 'settings' // Review all variable implementations


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@import 'foundations/base'
@import 'foundations/typography'
@import 'foundations/structure'
@import 'foundations/grid'
@import 'foundations/form'
@import 'foundations/table'
@import 'foundations/icons' // Move file? Look at :hover issue in file.


//
// LAYOUT SECTIONS
//

@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/mobile-navigation'
@import 'layout/main-content'
@import 'layout/main-footer'


//
// GENERIC COMPONENTS
//

@import 'components/buttons'


//
// SPECIALISED COMPONENTS
//
@import 'pages/section'
@import 'pages/page'



//
// EXTERNAL PLUGINS
//

@import 'components/code'


//
// EXTRAS
//

@import 'sandbox'


//
// DEBUG MODE
//

if $debugMode
  @import 'foundations/debug'
