//
// MAIN CONTENT
// ============
//

.main-content
  background-color #fff

//- Probably needs a better way of implementing,
//- possibly making this the default and adding modifier for
//- a banner-size blockquote (Look on Jade page)
.blockquote--small
  blockquote
    font-size 0.75em
    p
      line-height 1.5em
    small
      font-size 0.6em