include ../components/head

body#top.open(class=((section !== 'undefined') ? 'section-#{section}' : ''))

  .container
    include ../components/main-header

    .page-content

      .section
        .centering
          block content


    include ../components/main-footer

  .mobile-sidebar
    .h1.site-title
      a(href='/') Dev Guides
    include ../components/main-navigation

  include ../components/scripts
