//- TODO - local fallback
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')

script(src='/resource/js/lib/highlight.pack.js')
script(src='/resource/js/lib/hide-address-bar.js')
script(src='/resource/js/global.js')
